server:
  port: 8081

spring:
  application:
    name: auth-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/edupath_auth
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  mail:
    host: smtp.gmail.com
    port: 587
    username: edupathinsight@gmail.com
    password: wjup heur mqau nhdj
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
  
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    hostname: localhost
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
  health:
    mail:
      enabled: false  # Désactiver le healthcheck email pour éviter les erreurs 503

# Feign Client
feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 30000  # 30 secondes pour les uploads de fichiers

# Configuration JWT
jwt:
  secret: ${JWT_SECRET:mySecretKeyForJWTTokenGenerationAndValidationShouldBeAtLeast256BitsLong}
  expiration: 86400000 # 24 heures en millisecondes

# Configuration Email
email:
  verification:
    code:
      expiration: 600000 # 10 minutes en millisecondes
      length: 6
  password:
    reset:
      expiration: 3600000 # 1 heure en millisecondes

# Configuration Admin par défaut
admin:
  username: admin
  password: edupath
  email: edupathinsight@gmail.com

logging:
  level:
    org.springframework.security: INFO
    org.hibernate: INFO
    ens.edupath.auth: DEBUG
    ens.edupath.auth.filter: INFO
