server:
  port: 8081

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://postgres-auth:5432/edupath_auth
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME:edupathinsight@gmail.com}
    password: ${EMAIL_PASSWORD:your-email-password}

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    hostname: auth-service
    prefer-ip-address: true

jwt:
  secret: your-secret-key-change-in-production-very-long-and-secure-key
  expiration: 86400000

admin:
  default:
    username: admin
    password: edupath
    email: edupathinsight@gmail.com

data-ingestion:
  service-url: http://data-ingestion-service:8082


