server:
  port: 8083

spring:
  application:
    name: module-service
  datasource:
    url: jdbc:postgresql://postgres-modules:5432/edupath_modules
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest
    template:
      exchange: edupath.exchange

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    hostname: module-service
    prefer-ip-address: true

data-ingestion:
  service-url: http://data-ingestion-service:8082


